:root {
    --text-primary: #ffffff;
    --text-black: #000000;
    --bg-black: #000000;
    --text-grey: #8d8d8d;
    --bg-yellow: #fed231;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix {
    content: "";
    clear: both;
    display: table;
}
body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: normal;
    color: #fff;
    background: var(--bg-black);
}
body * {
    margin: 0 auto;
    text-align: center;
}
a.button {
    text-decoration: none;
    text-transform: capitalize;
    border: 1px solid var(--text-black);
    padding: 1.3rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    color: #000;
    font-size: 1.5rem;
}
header a.button:hover {
    background: var(--bg-black);
    color: var(--bg-yellow);
}
nav {
    position: fixed;
    bottom: 20%;
    left: 5%;
    z-index: 1000;
    margin: 0;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}
nav a::after {
    content: "";
    height: 3rem;
    display: block;
    background: var(--text-primary);
    width: 0.1rem;
    margin-left: 50%;
    margin-top: 1rem;
}
nav img {
    filter: invert(1);
    max-width: 30px;
}
header {
    background: var(--bg-yellow);
    min-height: 95vh;
    margin: 0 auto;
    position: relative;
}
header .main-heading {
    width: 50%;
    margin: 0 auto;
    letter-spacing: 0.2rem;
    line-height: 3rem;
    color: var(--text-black);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
header .main-heading * {
    margin-bottom: 2rem 0;
}
.main-heading .greeting {
    text-align: start;
    font-weight: 300;
}
@keyframes text {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    85% {
        opacity: 1;
        letter-spacing: 2rem;
    }
}
.greeting span {
    text-transform: capitalize;
    display: block;
    text-align: start;
    font-size: 3em;
    font-weight: 900;
    position: relative;
    animation: text 3s 1;
}
header .anthem {
    font-size: 2rem;
    font-weight: 400;
    text-align: start;
    margin: 2rem 0;
    margin-bottom: 4rem;
}
header .sub-heading {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4em;
    margin-bottom: 2rem;
}
.float h1 span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #0c002b, #1779ff);
    animation: animate1 2s linear infinite;
    animation-delay: 1s;
}
.float h1 span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(to bottom, #0c002b, #1779ff);
    animation: animate2 2s linear infinite;
}

.float h1 span:nth-child(3) {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to left, #0c002b, #1779ff);
    animation: animate3 2s linear infinite;
}

.float h1 span:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(to top, #0c002b, #1779ff);
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
}

.float {
    padding: 3rem 1rem;
    color: var(--text-black);
    width: 30%;
    position: absolute;
    left: 50%;
    margin-top: -4rem;
    transform: translate(-50%);
    background: var(--bg-yellow);
    text-transform: uppercase;
    overflow: hidden;
}
.float h1::after {
    margin: 0.5rem auto;
    content: "";
    width: 30%;
    background-color: var(--text-black);
    height: 0.2rem;
    display: block;
}
.float h1::before {
    margin: 0.5rem auto;
    content: "";
    width: 30%;
    background-color: var(--text-black);
    height: 0.2rem;
    display: block;
}
section#new {
    width: 70%;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
}

section#new .s-project {
    width: 100%;
    position: relative;
    margin: 10rem 0;
}

section#new .s-project .screen {
    width: 50%;
    float: left;
    cursor: pointer;
}
section#new .s-project .details {
    width: 50%;
    position: absolute;
    top: 0;
    left: 45%;
    height: 100%;
    font-size: 2rem;
    letter-spacing: 2px;
}
.details * {
    margin: 1.5rem;
    text-align: end;
    text-transform: capitalize;
}
section#new .s-project img {
    width: 100%;
    cursor: pointer;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}
.s-project .featured-project {
    color: var(--text-grey);
    font-size: 1.6rem;
    letter-spacing: 2px;
    font-weight: 300;
}
.s-project .project-name {
    text-transform: capitalize;
    color: var(--bg-yellow);
    font-size: 1.5rem;
    letter-spacing: 3px;
    text-align: right;
    margin-bottom: 3rem;
    font-weight: 700;
}
.s-project .project-name::before {
    content: "";
    display: inline-block;
    height: 0.1rem;
    width: 35%;
    background: #817031;
    margin-right: 1rem;
}
.s-project .description {
    padding: 1.8rem;
    text-transform: unset;
    background: #1b1b1b;
    font-weight: 400;
    font-size: 1rem;
    text-align: left;
}
.s-project .stack {
    font-size: 1rem;
    margin: 0;
}
.s-project .links a {
    text-decoration: none;
    margin: 0;
    cursor: pointer;
}
.s-project .links a img {
    margin: 1rem;
    max-width: 30px;
    filter: invert(1);
}

/* About Section */
section#about {
    width: 70%;
    margin: 5rem auto;
    text-align: start;
}
section#about::before {
    margin: 10rem auto;
    content: "";
    width: 80%;
    background-color: var(--bg-yellow);
    height: 0.1rem;
    display: block;
}
section#about div:first-child {
    float: left;
    width: 50%;
}
section#about div:last-child {
    float: right;
    width: 50%;
}
section#about .introduction h2 {
    color: var(--bg-yellow);
    font-size: 1.5rem;
    letter-spacing: 3px;
    text-align: right;
    margin-bottom: 3rem;
}
section#about .introduction h3 {
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: left;
    margin-bottom: 2rem;
}
section#about .introduction p {
    font-size: 1.3rem;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: left;
    margin-bottom: 2rem;
}
.introduction h2::before {
    content: "";
    display: inline-block;
    height: 0.1rem;
    width: 70%;
    background: #817031;
    margin-right: 1rem;
}
section#about .border {
    position: relative;
    border: 1px solid var(--bg-yellow);
    width: 18rem;
    height: 25rem;
}
section#about img {
    width: 18rem;
    height: 26rem;
    position: absolute;
    top: -2rem;
    left: -2rem;
}
section#about img:hover {
    position: absolute;
    top: -1.5rem;
    left: -1.5rem;
}

#projects {
    width: 70%;
    line-height: 2rem;
    letter-spacing: 1.2px;
}
.card {
    width: 100%;
    margin-top: 8rem;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card * {
    margin: 0 3rem;
}
.card img {
    border: 1px solid var(--text-grey);
    height: 200px;
    width: 250px;
    cursor: pointer;
    border-radius: 0.5rem;
}
.text h2 {
    color: var(--text-primary);
    margin-bottom: 1rem;
}
.text p {
    color: var(--text-grey);
}

/* --- Contact Form --- */
section#contact {
    width: 100%;
    background: #131419;
}
section#contact label {
    display: none;
}
section#contact form {
    margin: 5rem auto;
    position: relative;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 60px;
    background: #101114;
    border-radius: 10px;
    text-align: center;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.06),
        5px 5px 15px rgba(0, 0, 0, 0.7);
}
section#contact h2.heading {
    color: #fed231;
    text-transform: uppercase;
    padding: 2rem 1rem;
    font-weight: 500;
    font-size: 1.8rem;
}

section#contact .input input {
    width: 100%;
    height: 50px;
    text-align: left;
    margin-bottom: 1.4rem;
    background: #131419;
    outline: none;
    border: none;
    border-radius: 2rem;
    color: #fff;
    padding: 0.8rem 1.2rem;
    font-size: 1.2rem;
    color: var(--text-primary);
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1),
        inset 2px 2px 6px rgba(0, 0, 0, 0.7);
}
section#contact .input input[type="submit"] {
    text-align: center;
    cursor: pointer;
    border-radius: 1rem;
    color: var(--bg-yellow);
    margin-top: 1.5rem;
    box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.1), 2px 2px 6px rgba(0, 0, 0, 0.8);
}
section#contact .input input[type="submit"]:active {
    text-align: center;
    color: var(--bg-yellow);
    margin-top: 1.5rem;
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1),
        inset 2px 2px 6px rgba(0, 0, 0, 0.8);
}
section#contact .input input::placeholder {
    color: #555;
    font-size: 1.2rem;
}

/* --- Contact Form --- */
footer {
    padding: 3rem 1rem;
}
footer::before {
    margin: 5rem auto;
    content: "";
    width: 80%;
    background-color: var(--bg-yellow);
    height: 0.1rem;
    display: block;
}
footer h2 {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 100;
}

/* --- ANIMATIONS --- */

@keyframes animate1 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}
@keyframes animate2 {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}
@keyframes animate3 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes animate4 {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
    }
}
